body{
    background-color: #F3F3F3;
    margin-top: 8%;
    text-align: center;

}
.head{
    margin: auto;
    font-family: 'PT Serif',sans-serif;

    color: #303841;
    font-size: 1.95rem;
   
}

.tic{
    margin: 3% auto auto auto;
  
    color: 2185d5;
    padding-left: 2px;
    padding-top: 2px;
    background-color: #2185d5;
    display:inline-block;
    

}
.rail{
    
  margin-left: 4%;
  
  padding-right:4px ;
  padding-top: 2px;
    background-color: #2185d5;
    display: inline-block;
}

.rail:hover{
    background-color: #00FFF6;
}
.tic:hover{
    background-color: #ee2690;
}
.contact{
    margin: 3% auto auto auto;

}
#no{
    margin: 1% auto auto auto;
    font-size:1.30rem ;
    font-family: 'PT Serif',sans-serif;
    color: #303841;

}
.h2{
    font-family: 'PT Serif',sans-serif;
    color: #303841;
}
.phone{
    height: 54px;
    margin: auto auto auto 2%;
}

.head-2{
    width: 6%;
    
    margin-top: 3%;
border: 0;
border-bottom: solid 10px;
border-color: #3A4750;
border-style: dotted;
}



