
.back{
    background-color: #f9f2ed;
    text-align: center;
   
}
tr:hover{
    color: #D2042D;
}
table{
    margin-top: 5%;
}
h1{
    line-height: 3;
    font-family: 'Kanit', sans-serif;
    color: #1092e9;
}
thead{
    color:#1092e9;
}

h4{
    font-family: 'Kanit', sans-serif;
    font-size: 22px;
    
}
@media only screen and (max-device-width: 1213px) and (min-device-width: 300px) {
body{
    margin-top: 25%;
}
  }

