
.back{
    margin-top: 0%;
    background-color: #f9f2ed;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    
}

#four{
    line-height: 5;
    letter-spacing: 1px;
    font-family: 'Kanit', sans-serif;
    color: #1092e9;
}
.text{
    color: white;
    background-color:#ee2690;
   
}

.text0{
    color: #1092e9;
    

}
#rail{
    font-family: 'Kanit', sans-serif;
    color: black ;
    font-size: 30px;
   
    
}
#contact{
    line-height: 5;
    letter-spacing: 1px;
    font-family: 'Kanit', sans-serif;
    color: #1092e9;
}



