
.back{
    background-color: #ffffff;
    text-align: center;
    margin-top: 6%;
}
tr:hover{
    color: #D2042D;
}

thead{
    
    font-family: 'Montserrat', sans-serif;
    color:#ee2690;
}


h4{
    font-family: 'Kanit', sans-serif;
    font-size: 1.25rem;
    
}
#route{
    width: 2.5rem;
}
#free{
    font-family: 'Montserrat', sans-serif;
    color: yellow;
    background-color:#ee2690;
margin-bottom: 3.125rem;
margin-bottom: 3.125rem;
border-radius: 0.625rem;

}
#heading{

    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    color: #ee2690;
}
#offer{
    line-height: 2.5;    
    font-family: 'Montserrat', sans-serif;
    color: #ee2690;
    
    
}
.table-s{
    line-height: 4;
    font-family: 'Montserrat', sans-serif;
    color: #ee2690;
}

