
.back{
    background-color: #ffffff;
    text-align: center;
    margin-top: 6%;
}
tr:hover{
    color: #D2042D;
}
h1{
    line-height: 2.7;
    font-family: 'Montserrat', sans-serif;
    color: #ee2690;
}
thead{
    font-family: 'Montserrat', sans-serif;
    color:#ee2690;
    
   
}


h4{
    font-family: 'Kanit', sans-serif;
    font-size: 1.25rem;
    
}
#route{
    width: 2.5rem;
}
#free{
    color: black;
background-image: -webkit-linear-gradient(30deg, #ee2690 14%, #00a9f178 10%);
margin-bottom: 3.125rem;
border-radius: 0.625rem;


    
}
